@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[theme="dark"] {
    --textColor: #ffffff;
    --bgColor: #000000;
  }
  :root[theme="light"] {
    --textColor: #000000;
    --bgColor: #ffffff;
  }
}

@layer components {
  .buttonStyle {
    background-color: #2563eb;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    transition: all 300ms ease-in;
  }

  .buttonStyle:hover {
    transform: scale(1.1);
  }
}
